<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="masthead">
        <h1>Challenge 6 Home Page</h1>
        <nav>
            <a href="/biodata">Biodata</a> |
            <a href="/history">History</a> |
            <a href="/user">User</a>
        </nav>
    </div>
</body>

</html>